
# Lab 2
**Duration:** ~2 hours

**Topics covered (only these):**
- Lists: creating, accessing, slicing; methods `append`, `extend`, `insert`, `pop`, `remove`, `sort`
- List comprehension
- Tuples: declaration, immutability, use cases; tuple unpacking; `zip()` basics
- Sets: creating, uniqueness, membership with `in`, `add`, `remove`, `discard`; de‑duplication use cases; set ops `union`, `intersection`, `difference`, `symmetric_difference`
- Dictionaries: creating/accessing key‑value pairs; `get`, `items`, `keys`, `values`; updating & deleting; `in` operator; nested dictionaries
- Dictionary comprehension (basic intro)

**Instructions:** Each exercise is stated in a markdown cell, followed by an empty code cell for your solution. You may use loops and conditionals when useful.

# Lists: Creating, Accessing, Slicing

**Exercise 1:** Create a list `nums` containing 1 through 5 and print the first and last elements.

In [2]:
nums = [1,2,3,4,5]

print(nums[0])
print(nums[4])

1
5

**Exercise 2:** Given `letters = ['a','b','c','d','e']`, slice to get ['b','c','d'] and print it.

In [4]:
letters = ['a','b','c','d','e']

print(letters[1:4])

['b', 'c', 'd']

**Exercise 3:** Reverse a list using slicing and print the result.

In [5]:
A = ["Python","Jupyter"]

print(A[::-1])  # reversing list

['Jupyter', 'Python']

**Exercise 4:** From `nums = list(range(10))`, print every 2nd element starting from index 1 using slicing.

In [7]:
nums = list(range(10))

print(nums[::2])

[0, 2, 4, 6, 8]

**Exercise 5:** Replace the middle two elements of `[1,2,3,4,5]` with `[99,100]` using slicing assignment and print the list.

In [8]:
num = [1,2,3,4,5]

num[2:4] = [99,100]   # replacing value through slicing

print(num)

[1, 2, 99, 100, 5]

# List Methods: append(), extend(), insert(), pop(), remove(), sort()

**Exercise 1:** Start with `x = [3,1,4]`. Append 2, extend with [5,9], then print x.

In [9]:
x = [3,1,4]
x.append(2)
x.extend([5,9])

print(x)

[3, 1, 4, 2, 5, 9]

**Exercise 2:** Using `x = [10, 20, 30]`, insert 15 at index 1, then print x.

In [15]:
x = [10,20,30]

x.insert(1,15) 

print(x)

[10, 15, 20, 30]

**Exercise 3:** From `x = [7,8,9]`, pop the last element, store it in `last`, and print both `last` and `x`.

In [19]:
x = [7,8,9]

print(x)

x.pop()

print(x)

[7, 8, 9]
[7, 8]

**Exercise 4:** Remove the first occurrence of 2 from `x = [1,2,3,2,4]` and print x.

In [22]:
x = [1,2,3,2,4]

x.remove(2)

print(x)

[1, 3, 2, 4]

**Exercise 5:** Sort `x = [3,1,4,1,5]` in ascending order in-place and print it.

In [26]:
x = [3,1,4,1,5]

x.sort()  #by default it's ascending
print(x)

[1, 1, 3, 4, 5]

**Exercise 6:** Given `names = ['bob','Alice','dave']`, sort case-insensitively (without creating a new list) and print it.

In [30]:
names = ['bob','Alice','dave']
names.sort()
print(names)

['Alice', 'bob', 'dave']

# List Comprehension

**Exercise 1:** Create a list of squares for numbers 1..10 using a list comprehension and print it.

In [32]:
a = [1,2,3,4,5,6,7,8,9,10]

print([i**2 for i in a])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Exercise 2:** From `nums = [1,2,3,4,5,6]`, build a list of only even numbers using a comprehension.

In [36]:
nums = [1,2,3,4,5,6]

print([i for i in nums if i%2==0])

[2, 4, 6]

**Exercise 3:** Given `words = ['apple','kiwi','banana']`, create a list with the lengths of each word using a comprehension.

In [41]:
words = ['apple','kiwi','banana']

print([len(i) for i in words])

[5, 4, 6]

**Exercise 4:** Build a list `pairs` of tuples `(n, n*n)` for n=1..5 using a comprehension and print it.

In [5]:
n = [1,2,3,4,5]

print([(i,i*i) for i in n])

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

# Tuples: Declaration, Immutability, Use Cases

**Exercise 1:** Create a tuple `t` with elements (1, 'a', True) and print its length.

In [42]:
t = (1,'a',True)

print(len(t))

3

**Exercise 2:** Create a tuple of the first 5 even numbers and print it.

In [6]:
n = tuple(2*n for n in range(1,6))

print(n)

(2, 4, 6, 8, 10)

**Exercise 3:** Demonstrate tuple immutability by trying to modify one element and observing the error (commented code), then print a message confirming immutability.

In [12]:
# tuple = (2,3,4,5,6,7,8)

# tuple[0]=10 tuple are immutable

print("Confirming immutability")

Confirming immutability

# Tuple Unpacking and zip() Basics

**Exercise 1:** Unpack the tuple `(10, 20, 30)` into variables a, b, c and print them.

In [44]:
t = (10,20,30)
a,b,c=t
print(a)
print(b)
print(c)

10
20
30

**Exercise 2:** Given `coords = [(1,2),(3,4),(5,6)]`, loop with tuple unpacking to print `x*y` for each pair.

In [23]:
coord = [(1,2),(3,4),(5,6)]

for x,y in coord:
    print(x*y)

2
12
30

**Exercise 3:** Using `names = ['Ana','Ben']` and `scores = [90, 85]`, use zip() to pair and print `Ana:90`, `Ben:85`.

In [29]:
names = ['Ana','Ben']
scores = [90,85]

for names,scores in  zip(names,scores):

    print(f"{names}:{scores}")

Ana:90
Ben:85

# Sets: Creating, Membership, add(), remove(), discard(), Use in De-duplication

**Exercise 1:** Create a set from the list `[1,2,2,3,3,3]` to remove duplicates and print it.

In [30]:
list = [1,2,2,3,3,3]

print(set(list))

{1, 2, 3}

**Exercise 2:** Check membership: print whether 3 is in the set `{1,2,3}` using `in`.

In [37]:
a = {1,2,3}

b = 3 in a

print(b)

True

**Exercise 3:** Start with empty set `s = set()`. Add 10, then remove 10, then safely discard 10 again, and print the set each time.

In [3]:
s = set()
print(s)

s.add(10)
print(s)

s.remove(10)  # it give error if error present
print(s)

s.discard(10)  # it not give error if value is not present
print(s)

set()
{10}
set()
set()

**Exercise 4:** Given `data = [1,1,2,2,3,4,4]`, produce a de-duplicated list preserving original order using a set for membership check; print the result.

*Hint:* Use a loop and a seen set.

In [6]:
data = [1,1,2,2,3,4,4]

seen = set()
result = []

for i in data:
    if i not in seen:
        result.append(i)
        seen.add(i)
print(result)

[1, 2, 3, 4]

# Set Operations: union(), intersection(), difference(), symmetric_difference()

**Exercise 1:** Let `a={1,2,3}` and `b={3,4}`. Print union, intersection, difference (a-b), symmetric difference.

In [10]:
a = {1,2,3}
b = {3,4}

print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(a.symmetric_difference(b))

{1, 2, 3, 4}
{3}
{1, 2}
{1, 2, 4}

**Exercise 2:** Given `a={1,2,3,4}` and `b={2,4,6}`, print sorted list of elements that are in exactly one of the sets.

In [11]:
a = {1,2,3,4}
b = {2,4,6}

print(sorted(a.symmetric_difference(b)))

[1, 3, 6]

**Exercise 3:** Using sets, count how many common letters exist between the strings 'banana' and 'bandana'.

In [16]:
a = set("banana")
b = set("bandana")


print(len(a.intersection(b))) # count of comman element

3

# Dictionaries: Creating, Accessing, get(), items(), keys(), values()

**Exercise 1:** Create a dictionary `student` with keys `name`, `age`, `score` and print name and score.

In [33]:
student = {
    "name" : "Raji",
    "age" : 24,
    "score" : 98
}

print(student["name"])
print(student["score"])

Raji
98

**Exercise 2:** Use `get()` to safely access a non-existing key `grade` from the above dict with default 'NA' and print it.

In [34]:
print(student.get("grade"))

None

**Exercise 3:** Loop through `items()` of `student` and print `key=value` on each line.

In [38]:
for key,value in student.items():
    print(key,"=",value)

name = Raji
age = 24
score = 98

**Exercise 4:** Print the list of keys and the list of values of `student`.

In [39]:
print(student.keys())

print(student.values())

dict_keys(['name', 'age', 'score'])
dict_values(['Raji', 24, 98])

# Updating, Deleting Entries; `in` Operator; Nested Dictionaries

**Exercise 1:** Start with `d={'x':1, 'y':2}`. Update `y` to 20 and add `z:3`, then print d.

In [48]:
d = {"x":1 , "y":2}

d["y"] = 20
d["z"] = 3

print(d)

{'x': 1, 'y': 20, 'z': 3}

**Exercise 2:** Delete key `x` from `d`, if it exists, using `pop()` with a default to avoid errors; print the removed value and the dict.

In [49]:
a = d.pop("x")

print(a)

print(d)

1
{'y': 20, 'z': 3}

**Exercise 3:** Check if key `age` is present in `student = {'name':'Avi','score':88}` using `in` and print the result.

In [50]:
student = {'name':'Avi','score':88}

print('age' in student)

False

**Exercise 4:** Create a nested dictionary for two students with keys as roll numbers and values as dictionaries of `name` and `score`. Access and print the score for roll 102.

In [54]:
student = {
    101:{'name':'raji','score':98},102:{'name':'shwari','score':97}
}

print(student[102]["score"])

97

# Dictionary Comprehension (Basic Intro)

**Exercise 1:** Build a dictionary mapping numbers 1..5 to their squares using a comprehension and print it.

In [60]:
d = {i: i**2 for i in range(1,6)}

print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

**Exercise 2:** From `words = ['apple','bee','kiwi']`, create a dict mapping each word to its length.

In [62]:
words = ['apple','bee','kiwi']

print({x:len(x) for x in words})

{'apple': 5, 'bee': 3, 'kiwi': 4}

**Exercise 3:** Filter with comprehension: from `nums=range(10)`, keep only odd numbers as keys, value as their cubes.

In [66]:
print({x: x**3 for x in range (10) if x%2!=0})

{1: 1, 3: 27, 5: 125, 7: 343, 9: 729}

# Applied Logic with Collections (Loops/Conditionals Allowed)

**Exercise 1:** Given a list of integers, produce a dictionary counting occurrences of each integer (like a frequency map) without using external modules; print the result for `[1,2,2,3,3,3]`.

In [75]:
list = [1,2,2,3,3,3]

counts = {}
for i in list:
    if i in counts:
        counts[i] += 1
    else:
        counts[i] = 1
print(counts)

{1: 1, 2: 2, 3: 3}

**Exercise 2:** Given two lists `a=[1,2,3,4]` and `b=[2,4,6,8]`, compute the sorted list of common elements using sets (no duplicates).

In [85]:
a = [1,2,3,4]
b = [2,4,6,8]

c= sorted(set(a) & set (b))

print(c)

[2, 4]

**Exercise 3:** You have `people = ['Ana','Ben','Cara']` and `scores = [92, 85, 92]`. Use zip() to pair them and build a dict; if a name repeats, keep the higher score.

In [87]:
people = ['Ana','Ben','Cara']

scores = [92,85,92]

dit = {}

for p , s in zip(people,scores):
    if p not in dit or s > dit[p]:
        dit[p] = s
print(dit)

{'Ana': 92, 'Ben': 85, 'Cara': 92}