
# Lab 1
**Duration:** ~2 hours

**Topics covered (only these):**
- Python syntax rules: indentation, comments, line continuation  
- Declaring variables, dynamic typing  
- Primitive data types: int, float, str, bool  
- `type()` and `isinstance()` functions  
- `input()` and simple I/O  
- Type conversion: `int()`, `float()`, `str()`, `list()`  
- Implicit vs explicit casting  
- Common built-in functions: `len()`, `max()`, `min()`, `sum()`, `sorted()`, `round()`, `abs()`  
- `print()` formatting: f-strings, `.format()`  
- `if`, `elif`, `else` statements; nested conditions  
- `for` loops with `range()`  
- `while` loops and loop control: `break`, `continue`, `pass`  
- `else` clause with loops

**Instructions:** Read each exercise in the markdown cell and implement your answer in the empty code cell directly below it. Run each cell to test your work.

# Python Syntax Rules: indentation, comments, line continuation

**Exercise 1:** Fix the indentation so the code prints numbers 1 to 3.

In [1]:
a = 1,2,3

print(a)

(1, 2, 3)

**Exercise 2:** Add comments explaining each line of code that prints 'Hello'.

In [2]:
a = "Hello" # a is a variable that contain string data hello

print(a)  # print use to show the output

Hello

**Exercise 3:** Use a backslash to split one long line into two for readability and print the sum 1+2+3+4.

In [ ]:
a = 1+2+3\
+4
print(a)  # Explicit line continuation

10

**Exercise 4:** Demonstrate a multiline statement using parentheses to sum 1..5 and print the result.

In [ ]:
Data = (
    1+2+
    3+4
    +5
)
print(Data) # Implicit line continuation

15

**Exercise 5:** Add an inline comment to explain what the next print does, then print 'Done'.

In [ ]:
data = (
    4+5+6+7
    +6+5+4
    +5+6
    +7
)
print(data) # print is showing output
print('Done') # printing done

55
Done

# Declaring variables & dynamic typing

**Exercise 1:** Create a variable name and assign your first name as a string, then print it.

In [9]:
Name = "Raji"
print(Name)

Raji

**Exercise 2:** Assign an integer to x, then reassign x to a string. Print the type before and after.

In [ ]:
x = 98
print(type(x))
x =  '10'
print(type(x))

<class 'int'>
<class 'str'>

**Exercise 3:** Swap values of a and b (e.g., 3 and 5) without a temporary variable and print them.

In [15]:
a = 3
b = 5

a,b = b,a

print(a,b)

5 3

# Primitive data types: int, float, str, bool

**Exercise 1:** Create one variable of each type: int, float, str, bool; then print type() of each.

In [17]:
x = 10
y = 10.5
z = "raji"
w = True
print(type(x))
print(type(y))
print(type(z))
print(type(w))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

**Exercise 2:** Show a boolean comparison that evaluates to True and one that evaluates to False.

In [ ]:
a = 5
b = 2
print (a>b)
print(b>a)

True
False

**Exercise 3:** Convert the float 7.9 to an int and print both values.

In [20]:
a = 7.9
b = int(a)
print(a)
print(b)

7.9
7

# type() and isinstance()

**Exercise 1:** Use type() to check the type of 'Hello' and 123.

In [1]:
a = 'Hello'
b = 123
print(type(a))
print(type(b))

<class 'str'>
<class 'int'>

**Exercise 2:** Use isinstance() to verify that 3.0 is a float and '7' is a str.

In [8]:
a = 3.0
b='7'

print(isinstance(a,float))

print(isinstance(b,str))

True
True

**Exercise 3:** Given x = True, check with isinstance if x is a bool.

In [9]:
x=True
print(isinstance(x,bool))

True

# input() and simple I/O

**Exercise 1:** Ask the user for their name and greet them with 'Hello, <name>'. (In solutions, a sample value may be assigned.)

In [11]:
name = input ("Enter Your Name:")

print("Hello:",name)

Enter Your Name: Raji

Hello: Raji

**Exercise 2:** Ask for two integers and print their sum. (In solutions, use sample values.)

In [15]:
a = int(input("Enter First Value:"))
b = int(input("Enter Second Value:"))
c = a+b
print(c)

Enter First Value: 30
Enter Second Value: 23

53

# Type conversion: int(), float(), str(), list()

**Exercise 1:** Convert '42' to int and float, then print results.

In [16]:
a = '42'
b = int(a)
c = float(a)

print(b)
print(c)

42
42.0

**Exercise 2:** Turn the string 'abc' into a list of characters and print it.

In [19]:
a = 'abc'
b = list(a)
print(b)

['a', 'b', 'c']

**Exercise 3:** Convert 3.99 to an int and to a str, then print types.

In [20]:
a = 3.99
b = int(a)
c = str(a)

print(type(b))
print(type(c))

<class 'int'>
<class 'str'>

# Implicit vs explicit casting

**Exercise 1:** Show implicit casting in an expression mixing int and float (e.g., 2 + 3.0). Print the type of the result.

In [21]:
a = 2
b = 3.0
c = a+b

print(type(c),c) # implicit type casting

<class 'float'> 5.0

**Exercise 2:** Use explicit casting to ensure integer division result stays an int (e.g., 7/2 -> 3).

In [22]:
a = 7
b = 2
c = int(a/b)

print(type(c),c)

<class 'int'> 3

**Exercise 3:** Concatenate a string with a number by converting the number to str explicitly.

In [23]:
a = 'raji'
b = 12
c = a + str(b)

print(c)

raji12

# Common built‑in functions: len(), max(), min(), sum(), sorted(), round(), abs()

**Exercise 1:** Given nums = [3, 1, 4, 1, 5], print its length, min, max, sum.

In [25]:
nums = [3,1,4,1,5]

print("lenth",len(nums))
print("max",max(nums))
print("min",min(nums))
print("sum",sum(nums))

lenth 5
max 5
min 1
sum 14

**Exercise 2:** Round 3.14159 to 2 decimal places and print it.

In [26]:
a = 3.14159

print(round(a,2))

3.14

**Exercise 3:** Sort the list [5, 2, 9, 2] and print the sorted result (ascending).

In [27]:
b = [5,2,9,2]

print(sorted(b)) # it ascending by default

[2, 2, 5, 9]

**Exercise 4:** Print the absolute value of -17.

In [28]:
x = -17

print(abs(x))

17

# print() formatting: f-strings and .format()

**Exercise 1:** Using an f-string, print 'Result: 42'.

In [31]:
a = 30
print(f"Result: {a}")

Result: 30

**Exercise 2:** Using .format(), print 'x=3, y=4'.

In [32]:
x = 3
y = 4

print("x = {}, y = {}".format(x,y))

x = 3, y = 4

**Exercise 3:** Print PI to 3 decimal places using an f-string.

In [34]:
pie = (22/7)

print(f"pie_value:{pie:.3f}") # pie value upto 3 decimal

pie_value:3.143

# if, elif, else statements

**Exercise 1:** Read an integer n (use a sample in solutions) and print 'positive', 'negative', or 'zero'.

In [36]:
a = -3

if (a>0):
    print("A is positive")
elif(a<0):
    print("A is neagative")
else:
    print("A is zero")

A is neagative

**Exercise 2:** Given score = 86, print 'A' if >= 90, 'B' if 80–89, else 'C or below'.

In [38]:
score = 86

if ( score>=90):
    print("A")

if (score>=80 and score<=89):  # multiple if 
    print("B")

else:
    print("C")

B

# Nested conditions

**Exercise 1:** Given x=5, if x>0, further check if x is even or odd and print accordingly.

In [39]:
x = 5

if x>0 and x%2==0:
    print("x is even")

else:
    print("x is odd")

x is odd

**Exercise 2:** Ask user age (sample in solutions). If age>=18, check if age>=60 to print 'senior', else 'adult'; otherwise 'minor'.

In [40]:
age = int(input("Enter age:"))

if age >=18:
    print("User is adult")   # nested if condition 
    if age >=60:
        print("user is senior")
else:
    print("User is minor")

Enter age: 25

User is adult

# for loops with range()

**Exercise 1:** Use range() to print numbers 0 through 4.

In [41]:
for i in range (0,5): # range doesm't take last element
    print(i)

0
1
2
3
4

**Exercise 2:** Print even numbers from 2 to 10 inclusive using range().

In [43]:
for i in range(2,11,2):
    
        print(i)

2
4
6
8
10

**Exercise 3:** Compute the sum of numbers 1..100 using a loop and print it.

In [47]:
sum = 0  # new variable
for i in range (0,101):
    sum = sum + i  # updated value of sum and adding in i
    print(sum)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

# while loops and loop control: break, continue, pass

**Exercise 1:** Use a while loop to count down from 3 to 1 and then print 'Go!'.

In [1]:
i = 3
while i >= 1:
    print(i)
    i -=1
print("Go!")

3
2
1
Go!

**Exercise 2:** Loop from 1..10 and print only odd numbers using continue.

In [2]:
i = 1       # initializer
while i<= 10:
    if (i% 2==0):   # condition
        i += 1
        continue   # skipping even number
    print(i)       # printing only odd number
    i += 1

1
3
5
7
9

**Exercise 3:** Use a loop to search for the first multiple of 7 between 1..50 and break when found, then print it.

In [4]:
i = 7
while i <= 50:
    if (i % 7 ==0): # condition
        print(i)
        break      # stoping while fisrt found
    i += 1

7

**Exercise 4:** Write a minimal placeholder inside a loop using pass (e.g., iterate 3 times).

In [18]:
i = 0
while i < 3:
    pass
    i += 1
    print(i)

1
2
3

# else clause with loops

**Exercise 1:** Use a for-else: loop through 1..5 and print 'no break triggered' in else.

In [19]:
for i in range (1,6):
    print(i)
else:
    print("No break triggered")

1
2
3
4
5
No break triggered

**Exercise 2:** Search numbers 2..10 for a multiple of 11; if none found, print 'none' from else.

In [20]:
for i in range(2,11):
    if i % 11 == 0:
        print(i)
        break
    else:
        print("none")

none
none
none
none
none
none
none
none
none