
# Lab 1
**Duration:** ~2 hours

**Topics covered (only these):**
- Python syntax rules: indentation, comments, line continuation  
- Declaring variables, dynamic typing  
- Primitive data types: int, float, str, bool  
- `type()` and `isinstance()` functions  
- `input()` and simple I/O  
- Type conversion: `int()`, `float()`, `str()`, `list()`  
- Implicit vs explicit casting  
- Common built-in functions: `len()`, `max()`, `min()`, `sum()`, `sorted()`, `round()`, `abs()`  
- `print()` formatting: f-strings, `.format()`  
- `if`, `elif`, `else` statements; nested conditions  
- `for` loops with `range()`  
- `while` loops and loop control: `break`, `continue`, `pass`  
- `else` clause with loops

**Instructions:** Read each exercise in the markdown cell and implement your answer in the empty code cell directly below it. Run each cell to test your work.

# Python Syntax Rules: indentation, comments, line continuation

**Exercise 1:** Fix the indentation so the code prints numbers 1 to 3.

In [1]:
a = 1,2,3
print(a)

(1, 2, 3)

**Exercise 2:** Add comments explaining each line of code that prints 'Hello'.

In [2]:
a = "Hello" # a is a variable that contain string data hello
print(a)  # print use to show the output

Hello

**Exercise 3:** Use a backslash to split one long line into two for readability and print the sum 1+2+3+4.

In [ ]:
a = 1+2+3\
+4
print(a)  # Explicit line continuation

10

**Exercise 4:** Demonstrate a multiline statement using parentheses to sum 1..5 and print the result.

In [ ]:
Data = (
    1+2+
    3+4
    +5
)
print(Data) # Implicit line continuation

15

**Exercise 5:** Add an inline comment to explain what the next print does, then print 'Done'.

In [ ]:
data = (
    4+5+6+7
    +6+5+4
    +5+6
    +7
)
print(data) # print is showing output
print('Done') # printing done

55
Done

# Declaring variables & dynamic typing

**Exercise 1:** Create a variable name and assign your first name as a string, then print it.

In [9]:
Name = "Raji"
print(Name)

Raji

**Exercise 2:** Assign an integer to x, then reassign x to a string. Print the type before and after.

In [ ]:
x = 98
print(type(x))
x =  '10'
print(type(x))

<class 'int'>
<class 'str'>

**Exercise 3:** Swap values of a and b (e.g., 3 and 5) without a temporary variable and print them.

In [15]:
a = 3
b = 5
a,b = b,a
print(a,b)

5 3

# Primitive data types: int, float, str, bool

**Exercise 1:** Create one variable of each type: int, float, str, bool; then print type() of each.

In [17]:
x = 10
y = 10.5
z = "raji"
w = True
print(type(x))
print(type(y))
print(type(z))
print(type(w))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

**Exercise 2:** Show a boolean comparison that evaluates to True and one that evaluates to False.

In [ ]:
a = 5
b = 2
print (a>b)
print(b>a)

True
False

**Exercise 3:** Convert the float 7.9 to an int and print both values.

In [20]:
a = 7.9
b = int(a)
print(a)
print(b)

7.9
7

# type() and isinstance()

**Exercise 1:** Use type() to check the type of 'Hello' and 123.

In [21]:
a = 'Hello'
b = 123
print(a)
print(b)

Hello
123

**Exercise 2:** Use isinstance() to verify that 3.0 is a float and '7' is a str.

In [23]:
a = 3.0,'7'
print(isinstance(a))

TypeError: isinstance expected 2 arguments, got 1

**Exercise 3:** Given x = True, check with isinstance if x is a bool.

# input() and simple I/O

**Exercise 1:** Ask the user for their name and greet them with 'Hello, <name>'. (In solutions, a sample value may be assigned.)

**Exercise 2:** Ask for two integers and print their sum. (In solutions, use sample values.)

# Type conversion: int(), float(), str(), list()

**Exercise 1:** Convert '42' to int and float, then print results.

**Exercise 2:** Turn the string 'abc' into a list of characters and print it.

**Exercise 3:** Convert 3.99 to an int and to a str, then print types.

# Implicit vs explicit casting

**Exercise 1:** Show implicit casting in an expression mixing int and float (e.g., 2 + 3.0). Print the type of the result.

**Exercise 2:** Use explicit casting to ensure integer division result stays an int (e.g., 7/2 -> 3).

**Exercise 3:** Concatenate a string with a number by converting the number to str explicitly.

# Common built‑in functions: len(), max(), min(), sum(), sorted(), round(), abs()

**Exercise 1:** Given nums = [3, 1, 4, 1, 5], print its length, min, max, sum.

**Exercise 2:** Round 3.14159 to 2 decimal places and print it.

**Exercise 3:** Sort the list [5, 2, 9, 2] and print the sorted result (ascending).

**Exercise 4:** Print the absolute value of -17.

# print() formatting: f-strings and .format()

**Exercise 1:** Using an f-string, print 'Result: 42'.

**Exercise 2:** Using .format(), print 'x=3, y=4'.

**Exercise 3:** Print PI to 3 decimal places using an f-string.

# if, elif, else statements

**Exercise 1:** Read an integer n (use a sample in solutions) and print 'positive', 'negative', or 'zero'.

**Exercise 2:** Given score = 86, print 'A' if >= 90, 'B' if 80–89, else 'C or below'.

# Nested conditions

**Exercise 1:** Given x=5, if x>0, further check if x is even or odd and print accordingly.

**Exercise 2:** Ask user age (sample in solutions). If age>=18, check if age>=60 to print 'senior', else 'adult'; otherwise 'minor'.

# for loops with range()

**Exercise 1:** Use range() to print numbers 0 through 4.

**Exercise 2:** Print even numbers from 2 to 10 inclusive using range().

**Exercise 3:** Compute the sum of numbers 1..100 using a loop and print it.

# while loops and loop control: break, continue, pass

**Exercise 1:** Use a while loop to count down from 3 to 1 and then print 'Go!'.

**Exercise 2:** Loop from 1..10 and print only odd numbers using continue.

**Exercise 3:** Use a loop to search for the first multiple of 7 between 1..50 and break when found, then print it.

**Exercise 4:** Write a minimal placeholder inside a loop using pass (e.g., iterate 3 times).

# else clause with loops

**Exercise 1:** Use a for-else: loop through 1..5 and print 'no break triggered' in else.

**Exercise 2:** Search numbers 2..10 for a multiple of 11; if none found, print 'none' from else.